name: verify clients

on:
  pull_request:
    branches:
      - master
      - develop
      - stable

jobs:
  verify-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Specification Repo
        uses: actions/checkout@v4
        with:
          path: "DocumentReader-web-openapi"

      - name: Checkout Python Client Repo
        uses: actions/checkout@v4
        with:
          repository: "regulaforensics/DocumentReader-web-python-client"
          path: "python-client"

      - name: Verify update Python client
        working-directory: python-client
        env:
          API_BASE_PATH: ${{ github.base_ref == 'develop' && 'https://nightly-api.regulaforensics.com' || 'https://rc-api.regulaforensics.com' }}
        run: |
          ./update-models.sh strict
          ./setup.sh

  verify-csharp:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Specification Repo
        uses: actions/checkout@v4
        with:
          path: "DocumentReader-web-openapi"

      - name: Checkout CSharp Client Repo
        uses: actions/checkout@v4
        with:
          repository: "regulaforensics/DocumentReader-web-csharp-client"
          path: "csharp-client"

      - name: Verify update CSharp client
        working-directory: csharp-client
        env:
          API_BASE_PATH: ${{ github.base_ref == 'develop' && 'https://nightly-api.regulaforensics.com' || 'https://rc-api.regulaforensics.com' }}
        run: |
          ./update-models.sh strict
          ./setup.sh

  verify-js:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Specification Repo
        uses: actions/checkout@v4
        with:
          path: "DocumentReader-web-openapi"

      - name: Checkout JS Client Repo
        uses: actions/checkout@v4
        with:
          repository: "regulaforensics/DocumentReader-web-js-client"
          path: "js-client"

      - name: Verify update JS client
        working-directory: js-client
        run: |
          ./update-models.sh
          ./setup.sh

  verify-java:
    runs-on: ubuntu-latest
    steps:
      - name: Specify Java Version
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 11
          java-package: jdk

      - name: Checkout Specification Repo
        uses: actions/checkout@v4
        with:
          path: "DocumentReader-web-openapi"

      - name: Checkout Java Client Repo
        uses: actions/checkout@v4
        with:
          repository: "regulaforensics/DocumentReader-web-java-client"
          path: "java-client"

      - name: Verify update Java client
        working-directory: java-client
        env:
          API_BASE_PATH: ${{ github.base_ref == 'develop' && 'https://nightly-api.regulaforensics.com' || 'https://rc-api.regulaforensics.com' }}
        run: |
          ./update-models.sh strict
          ./gradlew clean :example:run
